html {
    width:100%;
    background: url(../images/background2160.jpg) no-repeat center center fixed;
    background-size: cover;
}

#contactArea{
	background: radial-gradient(white, #575);
	border-radius: 1em;
	margin: auto;
	width: 60em;
	height: 35em;
}

.contactDiv{
	font-family: 'Special Elite', cursive;
	margin: 2em;
	text-align: center;
}

#contactTitle{
	padding-top: 1em;
}

.contactField{
	font-family: 'Special Elite', cursive;
	font-size: 130%;
	color: gray;
	width: 13em;
}

.repopField{
	color: black;
}

#contactNameID{
	float: left;
}

#contactEmailID{

}

#contactSubjectID{
	float: right;
}

#warningTag{
	color: red;
}

#successTag{
	color: green;
}

#submitButton{
	font-family: 'Special Elite', cursive;
	font-size: 200%;
	padding: 0.5em;
	border-radius: 1em;
	background: linear-gradient(gray, white);
}

#submitButton:hover{
	background: linear-gradient(green, white);
}



